* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
html, body {
    height: 100vh;
    width: 100vw;
}  

body {
    font-size: 17px;
    line-height: 1.6em;

    
    min-width: 320px;

    font-family: 'Roboto', sans-serif;
    color:#414141;
    background-color: #FEFEFE;
}

a:link {
  color: #5995DA;
  text-decoration: none;
}
a:visited {
  color: #407FC7;
}
a:hover,
a:visited:hover {
  color: #76AEED;
  border-bottom: 1px solid #76AEED;
}
a:active,
a:visited:active {
  color: #5995DA;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3em;
    background-color: #04ceee;
    padding-left: 1em;
    border-color: #2ADFFB;
    border-style: none none groove none;
    color: #ffffff;
}

.navlinks {
    max-width: 300px;
    width: 250px;
    display: flex;
    justify-content: space-evenly;
}

.navlinks > div > a:link,
.navlinks > div > a:visited {
  color: #fbff00;
  text-decoration: none;
  font-weight: 500;
}
.navlinks > div > a:hover,
.navlinks > div > a:visited:hover {
  color: #fbff00;
  /* border-bottom: 1px solid #FF8F18; */
  border-bottom: none;
  text-emphasis: triangle;
  font-weight: 700;
}
.navlinks > div > a:active,
.navlinks > div > a:visited:active {
  color: #EE2404;
}


.content-wrapper {
    height: 100%;
    padding-top: 2em;

    min-width: 400px;
    overflow-y: scroll;
}

.content-subwrapper {
  height: 100%;
  max-width: 600px;
  min-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
    /* padding-left: 1em; */
    /* width: 60%; */
    /* margin-bottom: 1em; */
    padding-bottom: 0.4em;
    width: 100%;
    border-color: navy;
    border-style: none none groove none;
}

.content {
    text-align: left;
    /* padding-top: 1em; */
    width: 100%;
    padding-bottom: 2em;
}

footer {
    background-color: #414141;
    color: #FEFEFE;
    text-align: right;
    height: 2.2em;
    padding: 0.3em 0.6em 0.3em 0;

}

.project {
  margin-top: 2em;
  outline-style: inset;
  outline-color: #a7a7a7;
  padding-top: 1em;
  padding-right: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
}

.small-img {
  width: 40%;
  height: auto;
  text-align: center;
}

.pic-box {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 1em;
  padding: 1em 0 1em 0;
  border-style: double none double none;

}