* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

body {
    font-size: 17px;
    line-height: 1.6em;

    font-family: 'Roboto', sans-serif;
    color:#414141;
    background-color: #FEFEFE;
}

a:link {
  color: #5995DA;
  text-decoration: none;
}
a:visited {
  color: #407FC7;
}
a:hover,
a:visited:hover {
  color: #76AEED;
  border-bottom: 1px solid #76AEED;
}
a:active,
a:visited:active {
  color: #5995DA;
}